[Install]
WantedBy=default.target

[Service]
ExecStart=sh -c "${HOME}/.local/bin/dump-packages"
Type=oneshot

[Unit]
Description=Dump packages to a file
